.nav-app-container {
    left: 0px;
    top : 0px;
    position: absolute;
    z-index: 0;

    height: 100%;
    width: 100%;

    -webkit-transition-duration: .25s;
    transition-duration: .25s;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-app-container-opened{
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.nav-menu-container {
    top : 0px;
    left : 0px;
    position: absolute;
    z-index: -999;
    width: 300px
}

.nav-menu-container-opened {
    z-index: 999;
    box-shadow: 10px 0 15px rgba(0,0,0, .3);
}